@model IEnumerable<TaskCodeApproach.Models.Category>

@{
    ViewBag.Title = "GetCategory";
}

<h2>GetCategory</h2>

<p>
    @Html.ActionLink("Create New", "AddCategory")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }) |
            @Html.ActionLink("Details", "Details", new { id = item.CategoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })|
            @Html.ActionLink("View Products", "ProductByCategory", new { id = item.CategoryId })

        </td>
    </tr>
}

</table>
