@model IEnumerable<TaskCodeApproach.Models.Product>

@{
    ViewBag.Title = "GetProducts";
}

<h2>GetProducts</h2>

<p>
    @Html.ActionLink("Create New", "AddProduct")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categories.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categories.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "UpdateProduct", new { id=item.ProductId }) |
            @Html.ActionLink("Details", "GetSingleProduct", new { id=item.ProductId }) |
            @Html.ActionLink("Delete", "DeleteProduct", new { id=item.ProductId })
        </td>
    </tr>
}

</table>
