@model MVC_EmployeeForm.Models.Employee

@{
    ViewBag.Title = "EmployeeDetails";
}


<table class="table-bordered">
    <tr>
        <th>Employee Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Password</th>
        <th>Gender</th>
        <th>Department</th>
    </tr>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Email</td>
        <td>@Model.Phone</td>
        <td>@Model.Name</td>
        <td>@Model.Address</td>
        <td>@Model.Gender</td>
        <td>@Model.Department</td>
    </tr>
</table>

