
@{
    ViewBag.Title = "Index";
}


<section class="px-2 py-2">
    <div class="container-md bg-light" style="width:500px;">
        @using (Html.BeginForm("CreateEmployee", "Employee", FormMethod.Post))
        {
            <div class="row px-2 py-2">
                @Html.TextBox("EmployeeName", "", new { @class = "form-control", @placeholder = "Enter Name" })
            </div>
            <div class="row px-2 py-2">
                @Html.TextBox("Email", "", new { @class = "form-control", @placeholder = "Enter Email", @type = "Email" })
            </div>
            <div class="row px-2 py-2">
                @Html.TextBox("Phone", "", new { @class = "form-control", @placeholder = "Enter Phone" })
            </div>
            <div class="row px-2 py-2">
                @Html.TextArea("Address", new { @class = "form-control", @placeholder = "Enter Address" })
            </div>
            <div class="row px-2 py-2">
                @Html.Password("Password", "", new {@class="form-control",@placeholder="Enter Password"})
            </div>
            <div class="row px-2 py-2">
                <div class="col-1 py-2">
                    @Html.Label("Male", new { @class = "form-label" })
                </div>
                <div class="col py-2">
                    @Html.RadioButton("Gender", "Male", true, new { id = "Male" ,@class="form-check-input"})
                </div>
                <div class="col-2 py-2">
                    @Html.Label("Female", new { @class = "form-label" })
                </div>
                <div class="col py-2">
                    @Html.RadioButton("Gender", "Female", false, new { id = "Female" ,@class = "form-check-input" })
                </div>
            </div>
            
            <div class="row px-2 py-2">
                @{
                    IEnumerable<string> dept = new List<string>() { "IT", "HR", "IS" };
                }

                @Html.DropDownList("Department", new SelectList(dept, dept.First()), new { @class = "form-control" })
            </div>
            <div class="mx-auto d-grid col-3">
                <button  class="btn btn-primary" id="Submit">Submit</button>
            </div>
        }
    </div>
</section>

