
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductLayout</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        @Html.ActionLink("Employee", "Index", "Employee", new { area = "" }, new { @class = "navbar-brand" })
        <ul class="navbar-nav">
            <li class="nav-item">@Html.ActionLink("Home", "Index", "Employee", new { @class = "nav-link text-black" })</li>
            <li class="nav-item">@Html.ActionLink("About", "About", "Employee", new { @class = "nav-link text-black" })</li>
            <li class="nav-item">@Html.ActionLink("Login", "Index", "Employee", new { @class = "nav-link text-black" })</li>
        </ul>
    </nav>

    <div class="container body-content mt-lg-5">
        @RenderBody()

        <footer class="modal-footer fixed-bottom">
            <h6 class="text-center">@DateTime.Now</h6>
        </footer>
    </div>
</body>
</html>
